.UpdateButton{
    color: green;
}
.CancelButton{
    color: #202020;
}
.DeleteButton{
    height: fit-content;
    width: fit-content;
    border-width: 0;
}
.DeleteIcon{
    color: rgb(255, 105, 105);
}