<div class="HeadingContainer">
    <h1 mat-dialog-title class="FormTitle">Edit entry: {{data.itemToUpdate}}</h1>
    
</div>
<mat-dialog-content class="InputContainer">
    <mat-form-field class="Input">
        <mat-label>New Entry</mat-label>
        <input matInput type="text" [(ngModel)]="data.itemToUpdate">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="ButtonContainer">
    <button mat-raised-button mat-dialog-close class="UpdateButton" (click)="editElemInDropdownList();">Update</button>
    <button mat-raised-button mat-dialog-close class="CancelButton" >Cancel</button>
    <button mat-raised-button mat-dialog-close class="DeleteButton" (click)="deleteElement()">
        <mat-icon class="DeleteIcon">delete</mat-icon>
    </button>
</mat-dialog-actions>
