.FormTitle{
    font-size:x-large;
    font-weight: bold;
    color: #777777;
}
.Input{
    padding: 2%;
}
.ButtonContainer{
    width: 100%;
}
.SubmitButton{
    color: green;
    margin: 2%;
}
.CancelButton{
    margin: 2%;
}
::ng-deep .mat-form-field-flex{
    background-color: #f1f1f1;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix {
    background-color: #f1f1f1;
}